<div class="container">
  <%menu_category = MenuCategory.find(params[:id]) %>
  <%=form_with(url:"/menu_categories/#{menu_category.id}" ,method:"put",class:"MenuCategoryAdd") do%>
    <%=text_field_tag "menu_category_name",nil,value:menu_category.menu_category_name,class:"MenuCategoryUpdate-Text",placeholder:"Enter New Menu Category",autofocus: true %>
    <p>Status:</p>
    <%[true,false].each do |status|%>
      <%= radio_button_tag "status",status,value:menu_category.status %>
      <%= label_tag " #{status}" %>
    <% end %>
    <%=submit_tag nil,class:"MenuCategoryUpdate-Button",value:"Update"%>
  <%end%>
</div>
