<div class="container">
  <%menu_item = MenuItem.find(params[:id]) %>
  <%=form_with(url:"/menu_items/#{menu_item.id}" ,method:"put",class:"MenuCategoryAdd") do%>
    <%=text_field_tag "name",nil,value:menu_item.name,class:"MenuItemUpdate-Text",placeholder:"Enter New MenuItem Name",autofocus: true %>
    <%=text_field_tag "description",nil,value:menu_item.description,class:"MenuItemUpdate-Description",placeholder:"Enter Description",autofocus: true %>
    <%=number_field_tag "price",nil, value:menu_item.price,step: :any ,class:"MenuItemUpdate-Price",placeholder:"Enter New Price",autofocus: true %>
    <p>Status:</p>
    <%[true,false].each do |status|%>
      <%= radio_button_tag "status",status,value:menu_item.status %>
      <%= label_tag " #{status}" %>
    <% end %>
    <%=submit_tag nil,class:"MenuItemUpdate-Button",value:"Update"%>
  <%end%>
</div>
