<div class="sidebar">
  <%menu_categories = @current_user.is_owner? ? MenuCategory.all : MenuCategory.all.active%>
  <% menu_categories.each do|menu_category| %>
    <div class="dropdown">
      <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= menu_category.menu_category_name%>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <% if @current_user.is_owner?  %>
          <%= link_to "Inactive",menu_items_path(menu_category_id:menu_category.id,status:"Inactive")  %>
        <% end %>
        <%= link_to "Active",menu_items_path(menu_category_id:menu_category.id,status:"Active")  %>
      </div>
    </div>
  <% end %>
</div>
<div class="main">
  <div class="mainb">
    <p class="Back-Button"><%= link_to 'Back', 'javascript:history.back()' %> </p>
    <h2><%= @menu_category_name %></h2>
    <%=render partial:"menu_item-section", locals: {menu_items: @menu_items}%>
  </div>
  <div class="cart_box">
    <% if !@current_user.is_owner?  %>
      <div class="cart_title">
        <h3>CART</h3>
      </div>
      <%=render "cart_items/side_cart"%>
    <% else %>
      <div class="cart_title">
        <h3>Add New Menu Items</h3>
        <br>
      </div>
      <%=form_with(url:"/menu_items" ,method:"post",class:"MenuCategoryAdd") do%>
        <%= hidden_field_tag "menu_category_id",@menu_category_id %>
        <div class="Form-Section">
          <div class="Form-Section-Label">
            <span class="Form-Section-Label-Icon">
              <i class="fas fa-utensils"></i>
            </span>
          </div>
          <%=text_field_tag "name",nil,class:"MenuItemAdd-Name",placeholder:"Enter New Menu Item",autofocus: true %>
        </div>
        <div class="Form-Section">
          <div class="Form-Section-Label">
            <span class="Form-Section-Label-Icon">
              <i class="fas fa-utensils"></i>
            </span>
          </div>
          <%=text_field_tag "description",nil,class:"MenuItemAdd-Description",placeholder:"Enter Description",autofocus: true %>        </div>
        <div class="Form-Section">
          <div class="Form-Section-Label">
            <span class="Form-Section-Label-Icon">
              <i class="fas fa-utensils"></i>
            </span>
          </div>
          <%=number_field_tag "price",nil, step: :any ,class:"MenuItemAdd-Price",placeholder:"Enter New Price",autofocus: true %>
        </div>
        <%=submit_tag nil,class:"Add_btn",value:"Add"%>
      <%end%>
    <%end%>
  </div>
</div>
