<div class="main ">
  <div class="row ">
    <p class="Back-Button"><%= link_to 'Back', 'javascript:history.back()' %> </p>
    <div class="col-lg-12 shos shadow-lg">
      <div class="title"> <b>Personal Details:</b> </div>
      <div class="details">
        <table class="table bio">
          <tr>
            <td><b>Your User Id:</b></td>
            <td><b><%=@user.id %></b></td>
          </tr>
          <tr>
            <td><b>Name:</b></td>
            <td><b><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></b></td>
          </tr>
          <tr>
            <td><b>Your Address:</b></td>
            <td><b><%=@user.address %></b></td>
          </tr>
          <tr>
            <td><b>Your Email Id:</b></td>
            <td><b><%=@user.email %></b></td>
          </tr>
          <tr>
            <td><b>Your Phone Number:</b></td>
            <td><b><%=@user.phone_number %></b></td>
          </tr>
        </table>
        <br>
        <br>
        <p><%= link_to "<button class='card_checkout_btn view'>Edit</button>".html_safe, edit_user_path(@user.id) %></p>
      </div>
    </div>
  </div>
</div>
