<div class="container-fluid">
  <p class="Back-Button"><%= link_to "Go Back Shopping", menu_categories_path %> </p>
  <div id="ui-view" data-select2-id="ui-view">
    <div>
      <div class="cardOrder">
        <div class="cardOrder-header">Invoice:
          <strong><%= @order.id %></strong>
          <% if @order.delivered_at != "Canceled" && @order.pending  %>
            <%=link_to "Cancel",cancel_order_path(id:@order.id),class:"btn btn-sm btn-info float-right mr-1 d-print-none"%>
          <% else %>
            <a class="btn btn-sm btn-secondary float-right mr-1 d-print-none" href="#" data-abc="true"> Delivered:
              <%=  @order.delivered_at %></a>
          <% end %>
          <a class="btn btn-sm btn-secondary float-right mr-1 d-print-none" href="#" data-abc="true">
            <i class="fa fa-print"></i> Print</a>
        </div>
        <div class="card-body">
          <div class="row mb-2 order">
            <div class="col-sm-6 order_sec">
              <h6 class="mb-3"><strong>Shipping Address:</strong></h6>
              <div><%=  @order.shipping_address %></div>
            </div>
            <div class="col-sm-6 order_sec">
              <h6 class="mb-3"><strong>Billing Address:</strong></h6>
              <div><%=   @order.billing_address %></div>
            </div>
            <div class="col-sm-6 order_sec">
              <h6 class="mb-3">Details:</h6>
              <div>Name:
                <strong><%=  User.find(Order.find(@order.id).user_id).first_name %></strong>
              </div>
              <div>Email:
                <strong><%=  User.find(Order.find(@order.id).user_id).email %></strong>
              </div>
              <div>Phone Number:
                <strong><%=  User.find(Order.find(@order.id).user_id).phone_number %></strong>
              </div>
            </div>
          </div>
          <div class="table-responsive-sm order_item">
            <%=render partial:"order_item_section", locals: {section_title: "Order Items",order:@order }%>
          </div>
          <div class="cardOrder"></div>
        </div>
      </div>
    </div>
